<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Reservas</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">Administracion de reservas</div>
    <form method="POST" enctype="multipart/form-data">
        <table class="table">
            {{form}}
            {% csrf_token %}
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-success float-end" value="GUARDAR">
                </td>
            </tr>
        </table>
        {% if reservas %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Fecha reserva</th>
                        <th>Hora reserva</th>
                        <th>Email</th>
                        <th>Fecha Solicitud</th>
                        <th>Fecha modificiacion</th>
                        <th>Enlace descarga pdf</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td>{{reserva.nombre}}</td>
                        <td>{{reserva.calcular_edad}}</td>
                        <td>{{reserva.telefono}}</td>
                        <td>{{reserva.fechareserva}}</td>
                        <td>{{reserva.horareserva}}</td>
                        <td>{{reserva.email}}</td>
                        <td>{{reserva.F_Creacion}}</td>
                        <td>{{reserva.F_Modificacion}}</td>
                        <td>
                            <a href="{% url 'descargar_pdf_reserva' id=reserva.idSolicitud %}">
                                Descargar
                            </a>
                        </td>
                        
                        <td>
                            <a class="btn btn-success btn-small" href="actualizar/{{reserva.idSolicitud}}">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger btn-small" href="eliminar/{{reserva.idSolicitud}}">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-warning text-center">
                    No se encuentran reservas en el sistema
                </div>
            {% endif %}
    </form>
    
</body>
</html>